

/* p{
    color: blue;
    font-size: 20px;
    background-color: aqua;
}
h1{
    background-color: red;
} */
/* div{
    background-color: aquamarine;
} */

/* .head{
    background-color: red;
} */
/* #vikas{
    background-color:blue;
} */

/* .head{
    background-color: red;
}
#xyz{
    background-color: aqua;
} */

/* h1,p,.head{
    background-color: red;
} */

/* div p{
    color: red;
} */
div h1{
    background-color: aqua;
}